body
{
    background-color:antiquewhite;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Helvetica, sans-serif, Arial;
    font-size: 1.5em;
}

img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.fecha
{
    width: 300px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
    padding: 10px 10px;
    border-radius: 13px;
    text-align: center;
}

.nombre
{
    width: 300px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
    padding: 10px 10px;
    border-radius: 13px;
    text-align: center;
}

.telefono {
    width: 300px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
    padding: 10px 10px;
    border-radius: 13px;
    text-align: center;
}

.producto
{
    width: 300px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
    padding: 10px 10px;
    border-radius: 13px;
    text-align: center;
}

.descrip
{
    width: 300px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
    padding: 10px 10px;
    border-radius: 13px;
    text-align: left;
}

.fecha_ent {
    width: 300px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
    padding: 10px 10px;
    border-radius: 13px;
    text-align: center;
}

.precio 
{
    width: 300px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
    padding: 10px 10px;
    border-radius: 13px;
    text-align: center;
}

.adelanto
{
    width: 300px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
    padding: 10px 10px;
    border-radius: 13px;
    text-align: center;
}

.forma_pago
{
    width: 300px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
    padding: 10px 10px;
    border-radius: 13px;
    text-align: center;
}

button
{
    width: 160px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
    font-size: 1.5em;
    padding: 10px 10px;
    border-radius: 15px;
    background-color: burlywood;
    color: black;
}